*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

:root{
    --light-black: #394360;
    --light-blue: #8C82FC;
    --light-gray: #A2B3BF;
}

body{
    font-family: 'Manrope', sans-serif;
}

.container{
    width: 85%;
    margin: 0 auto;
}

nav{
    display: flex;
    flex-direction: row;
    gap: 70px;
    margin-top: 40px;
}

nav .logo{
    display: flex;
    gap: 12.5px;
    align-items: center;
    flex-grow: 1;
    font-size: 30px;
    font-weight: bolder;
}

.navbar{
    display: flex;
    align-items: center;
    flex-grow: 8;
    justify-content: space-between;
}

.navigation ul{
    display: flex;
    list-style-type: none;
    gap: 40px;
}

ul li a{
    color: var(--light-black);
    text-decoration: none;
    font-size: 16px;
}

.log-button button{
    border: 0;
    padding: 12px 34px;
    border-radius: 10px;
    font-size: 16px;
}

.login{
    color: var(--light-blue);
}

.signup{
    color: #fff;
    background-color: var(--light-blue);
}

.first-content{
    display: flex;
    margin-top: 105px;
    width: 100%;
    justify-content: space-between;
    gap: 95px;
    margin-bottom: 80px;
}

.description-product{
    display: flex;
    flex-direction: column;
}

.description-product .title-product{
    color: var(--light-blue);
    font-size: 20px;
    margin-bottom: 4px;
}

.description-product .motto{
    font-size: 64px;
    margin-bottom: 26px;
    font-weight: bolder;
}

.description-product .description{
    font-size: 24px;
    margin-bottom: 40px;
}

.button-option{
    display: flex;
    gap: 40px;
}
.start-button{
    background-color: var(--light-blue);
    color: #fff;
    padding: 20px 54px;
    border-radius: 10px;
    border: 0;
    font-size: 23px;
}

.services-button{
    color: var(--light-gray);
    padding: 20px 54px;
    border-radius: 10px;
    border: 0;
    font-size: 23px;
}

.hero{
    position: relative;
    display: flex;
}

.number-members{
    position: absolute;
    top: -30px;
    left: -140px;
}

.purple-background{
    position: absolute;
    z-index: -1;
    top: 40px;
    left: -40px;
}

.shadow-background{
    position: absolute;
    z-index: -2;
    top: 5px;
    right: -80px;
}